<header id="header">
  <div class="container" style="position: absolute; margin-top: -15px">
    <span class="navbar-brand rounded" style="position: absolute">
      <img src="assets/logo3.png" width="70" height="50" alt="">
    </span>
  </div>
  <nav class="navbar-expand-lg navbar-expand-md mx-auto">
    <button class="navbar-toggler mx-auto text-center rounded" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
      style="color: #9ab; position: relative">
      <span class="far fa-caret-square-down fa-2x mb-1" style="color: #9ab; position: relative"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <nav class="links mx-auto" style="--items: 4;">
        <a href="#" routerLink="/home">Home</a>
        <a href="#">Borrower</a>
        <a href="#">Librarian</a>
        <a href="#" routerLink="/admin">Administrator</a>
        <span class="line"></span>
      </nav>
    </div>
  </nav>
</header>
