<div class="container-fluid text-center" style="color: #9ab">
<div class="container">    
<a class="border-animation" href='#'>
<div class="border-animation__inner">
Library Management System
</div>
</a>
</div>
</div>
<header id="header">
  <nav class="navbar-expand-lg navbar-expand-md mx-auto">
  <button class="navbar-toggler mx-auto text-center rounded" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="far fa-caret-square-down fa-2x mb-1" style="color: #9ab"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	<nav class="links mx-auto" style="--items: 4;">
		<a href="#">Home</a>
		<a href="#">Borrower</a>
		<a href="#">Librarian</a>
		<a href="#">Administrator</a>
		<span class="line"></span>
	</nav>
  </div>
  </nav>
</header>
