<form #authorForm="ngForm" (ngSubmit)="onSubmit(authorForm)">
  <div class="form-group">
    <label>Author ID</label>
    <input *ngIf="!isEdit" type="text" [(ngModel)]="author.authorId" [ngClass]="{'is-invalid':authoridVal.errors && authoridVal.touched}" class="form-control" name="authorId" placeholder="author id" #authoridVal="ngModel" required minlength="1">
    <input *ngIf="isEdit" type="hidden" [(ngModel)]="currentAuthor.authorId" [ngClass]="{'is-invalid':authoridVal.errors && authoridVal.touched}" class="form-control" name="authorId" placeholder="author id" #authoridVal="ngModel" required minlength="1">
    <div [hidden]="!authoridVal.errors?.required" class="invalid-feedback">
      Author id required
    </div>
    <div [hidden]="!authoridVal.errors?.required" class="invalid-feedback">
      Minimum length of 1 digit required
    </div>
  </div>
  <div class="form-group">
    <label>Author Name</label>
      <input *ngIf="!isEdit" type="text" [(ngModel)]="author.authorName" [ngClass]="{'is-invalid':authornameVal.errors && authornameVal.touched}" class="form-control" name="authorName" placeholder="author name" #authornameVal="ngModel" required minlength="1">
    <input *ngIf="isEdit" type="text" [(ngModel)]="currentAuthor.authorName" [ngClass]="{'is-invalid':authornameVal.errors && authornameVal.touched}" class="form-control" name="authorName" placeholder="author name" #authornameVal="ngModel" required minlength="1">
    <div [hidden]="!authornameVal.errors?.required" class="invalid-feedback">
      Author name required
    </div>
  </div>
  <button *ngIf="!isEdit" (click)="addAuthor(authorId.value, authorName.value)" [disabled]="!authorForm.form.valid" type="submit" class="btn btn-raised btn-info">Add</button>
  <button *ngIf="isEdit" (click)="updateAuthor()" [disabled]="!authorForm.form.valid" type="submit" class="btn btn-raised btn-info">Update</button>
</form>
