<div class="midsection1">
  <div class="container p-5">
  <div class="row">
    <div class="col-md-4">

    <div [@slideInLeft]="slideInLeft" class="card m-1">
      <img class="card-img-top" src="assets/library3.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Borrower</h5>
        <p class="card-text">For all active card holders, click on login link below.</p>
        <div class="container mx-auto">
          <button class="btn btn-block btn-raised btn-info" type="button">Login</button>
        </div>

        <div class="container mx-auto">
          <button class="btn btn-block btn-raised btn-info" type="button">Register</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div [@slideInLeft]="slideInLeft" class="card m-1">
      <img class="card-img-top" src="assets/librarian.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Librarian</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <div class="container mx-auto">
          <button class="btn btn-block btn-raised btn-info p-1" type="button">Login</button>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-4">
    <div [@slideInLeft]="slideInLeft" class="card m-1">
      <img class="card-img-top" src="assets/Librarian2.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Administrator</h5>
        <p class="card-text">Only users with admin roles.</p>
        <div class="container mx-auto">
          <button class="btn btn-block btn-raised btn-info p-1" type="button">Login</button>
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
</div>
