<div class="container">
  <button class="btn btn-raised btn-info m-1" data-toggle="modal" data-target="#authorAddModal">Add Author</button>
  <h5 *ngIf="isLoading">Loading...</h5>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">Name</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody *ngFor="let author of authors">
      <tr>
        <td>{{ author.authorId }}</td>
        <td>{{ author.name }}</td>
        <td><button (click)="editAuthor(author)" class="btn btn-raised btn-info m-1" data-toggle="modal" data-target="#authorEditModal">Update</button>
          <button (click)="removeAuthor(author)" class="btn btn-raised btn-info m-1" type="button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <! -- Modal -->
    <div class="modal fade" id="authorAddModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content p-5">
          <app-post-form (newAuthor)="onNewAuthor($event)"></app-post-form>
        </div>
      </div>
    </div>
    <!-- <div class="modal fade" id="authorEditModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content p-5">
          <app-put-form [currentAuthor]="currentAuthor" (updatedAuthor)="onUpdatedAuthor($event)"></app-put-form>
        </div>
      </div>
    </div> -->
</div>
